*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

#List{
    height:90%;
    width:90%;
    background-color:gray;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}

#file{
    border: 1px solid red;
    width: 100px;
    height:80px;
}