<!DOCTYPE html>
<html>
<head>
    <title>My Netflix Clone</title>
    <link rel="stylesheet" href = "../css/index.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>
    <header class="page_title">
        MAIN MENU
        <div class="tabs">
            <button class="btn">Movies</button>
            <button class="btn">Books</button>
            <input type="search" name="search" placeholder="SEARCH..." class="btn search_bar"/>
        </div>
    </header>
    <div class="mainmenu" id="mainmenu">
            <div class="container" id="container">
                <img src = "../resources/folder.png" class="folder_image">
                <span>Title</span>
    
            </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
 